[Unit]
Description=Safe-T Bridge
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/safe-t-daemon
User=safe-t-daemon

[Install]
WantedBy=multi-user.target
